<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h1>Saket</h1>
    <a href="register">Registaration</a>
    <a href="login_cust">Login Cust</a>
    <a href="user_sign">UserRegister</a>
    <a href="login_auth">Login Auth</a>
     <a href="/display">Display</a>
</body>

</html>
